# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [5]:
# Create our features
X_data = df.copy()
X_data.drop("loan_status", axis=1, inplace=True)
X_data = pd.get_dummies(X_data)

# Create our target
target = ["loan_status"]
y = df.loc[:, target].copy()

In [6]:
X_data.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [7]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [8]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_data, y, random_state=1)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [9]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [10]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [11]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [12]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

brfc = BalancedRandomForestClassifier(n_estimators=1000, random_state=1)
brfc.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(n_estimators=1000, random_state=1)

In [13]:
# Calculated the balanced accuracy score
y_pred_brfc = brfc.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred_brfc)

0.7688604483694395

In [14]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

predictions = brfc.predict(X_test_scaled)
confusion_matrix(y_test, predictions)
print(classification_report(y_test, y_pred_brfc))

              precision    recall  f1-score   support

   high_risk       0.04      0.63      0.07       101
    low_risk       1.00      0.90      0.95     17104

    accuracy                           0.90     17205
   macro avg       0.52      0.77      0.51     17205
weighted avg       0.99      0.90      0.94     17205

In [15]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

brfc_pred =  brfc.predict(X_test)
print(classification_report_imbalanced(y_test, brfc_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.90      0.18      0.01      0.41      0.18       101
   low_risk       1.00      0.18      0.90      0.31      0.41      0.15     17104

avg / total       0.99      0.19      0.90      0.31      0.41      0.15     17205

In [16]:
# List the features sorted in descending order by feature importance
sorted(zip(brfc.feature_importances_, X_data.columns), reverse=True)

[(0.06862801182224613, 'total_rec_prncp'),
 (0.06038649619780159, 'total_rec_int'),
 (0.05905244774386602, 'total_pymnt'),
 (0.05863524144816048, 'total_pymnt_inv'),
 (0.055623377348809976, 'last_pymnt_amnt'),
 (0.030111484922129554, 'int_rate'),
 (0.01777359484825545, 'issue_d_Jan-2019'),
 (0.017520298295269406, 'dti'),
 (0.017336389337338155, 'installment'),
 (0.017239635318930423, 'mths_since_recent_inq'),
 (0.016079131330976076, 'out_prncp'),
 (0.01592943577126096, 'max_bal_bc'),
 (0.015333421064256041, 'out_prncp_inv'),
 (0.015133945030032623, 'mo_sin_old_rev_tl_op'),
 (0.014958790682464035, 'revol_bal'),
 (0.014473955358829452, 'avg_cur_bal'),
 (0.014369098673870841, 'total_bal_ex_mort'),
 (0.014247071880986605, 'tot_hi_cred_lim'),
 (0.014194503248174256, 'issue_d_Mar-2019'),
 (0.014188118477587585, 'annual_inc'),
 (0.014131045713741129, 'mths_since_rcnt_il'),
 (0.01394754842726268, 'bc_open_to_buy'),
 (0.013638285505964695, 'bc_util'),
 (0.013520145899029239, 'total_bal_il'),
 (0.013452985350130738, 'total_rev_hi_lim'),
 (0.013426819893391773, 'total_bc_limit'),
 (0.013384148663286405, 'tot_cur_bal'),
 (0.013314927856479615, 'all_util'),
 (0.013173446957304545, 'mo_sin_old_il_acct'),
 (0.013140831492162828, 'il_util'),
 (0.012099964591910302, 'loan_amnt'),
 (0.011641637649788778, 'total_il_high_credit_limit'),
 (0.011303862252527535, 'total_acc'),
 (0.011244981814188109, 'num_rev_accts'),
 (0.011211365730653632, 'mths_since_recent_bc'),
 (0.010892593877954928, 'inq_last_12m'),
 (0.010631795220319143, 'mo_sin_rcnt_rev_tl_op'),
 (0.009672558465774764, 'num_il_tl'),
 (0.009525803338727348, 'num_bc_tl'),
 (0.009280427960365665, 'mo_sin_rcnt_tl'),
 (0.008978465569176914, 'pct_tl_nvr_dlq'),
 (0.008771963291902166, 'num_op_rev_tl'),
 (0.00873756338731332, 'num_sats'),
 (0.008484654715371949, 'num_actv_rev_tl'),
 (0.008388839189154522, 'acc_open_past_24mths'),
 (0.008060500934988469, 'open_acc'),
 (0.008025758827429138, 'num_rev_tl_bal_gt_0'),
 (0.008023404424805045, 'open_il_24m'),
 (0.007574614218951493, 'num_bc_sats'),
 (0.007342673971534604, 'num_actv_bc_tl'),
 (0.00726365783578001, 'inq_fi'),
 (0.007022314877337117, 'num_tl_op_past_12m'),
 (0.00697779603612316, 'total_rec_late_fee'),
 (0.006731993802224133, 'open_act_il'),
 (0.006700304892600342, 'open_acc_6m'),
 (0.006699358317380566, 'percent_bc_gt_75'),
 (0.006682923835578093, 'total_cu_tl'),
 (0.006331087346724642, 'open_rv_24m'),
 (0.005819038474599387, 'mort_acc'),
 (0.005757564608850071, 'inq_last_6mths'),
 (0.004772745075663164, 'next_pymnt_d_May-2019'),
 (0.004745536947453315, 'open_rv_12m'),
 (0.004625669297951466, 'issue_d_Feb-2019'),
 (0.004582623349816971, 'open_il_12m'),
 (0.004529874994265058, 'next_pymnt_d_Apr-2019'),
 (0.003955153603626746, 'tot_coll_amt'),
 (0.0036255167474057064, 'delinq_2yrs'),
 (0.0032142681967063363, 'num_accts_ever_120_pd'),
 (0.002322785732661207, 'verification_status_Not Verified'),
 (0.002075657658079036, 'application_type_Joint App'),
 (0.0020343744172832416, 'application_type_Individual'),
 (0.002024466555170631, 'verification_status_Source Verified'),
 (0.001898462709227629, 'home_ownership_OWN'),
 (0.0018585934002856804, 'verification_status_Verified'),
 (0.001817802418803958, 'home_ownership_MORTGAGE'),
 (0.0018055367888970793, 'home_ownership_RENT'),
 (0.0017409574820877005, 'pub_rec_bankruptcies'),
 (0.0016409824376355307, 'pub_rec'),
 (0.0013086556686169267, 'initial_list_status_w'),
 (0.0011769610850554384, 'num_tl_90g_dpd_24m'),
 (0.0011500495266534815, 'initial_list_status_f'),
 (0.0004550187321120161, 'collections_12_mths_ex_med'),
 (0.00025369954027584254, 'home_ownership_ANY'),
 (0.0001605036142311861, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [17]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier 
easy = EasyEnsembleClassifier(n_estimators = 100, random_state=1)
easy = easy.fit(X_train_scaled, y_train)

In [18]:
# Calculated the balanced accuracy score
y_pred_eec = easy.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred_eec)

0.931601605553446

In [19]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred_eec)
print(classification_report(y_test, y_pred_eec))

              precision    recall  f1-score   support

   high_risk       0.09      0.92      0.16       101
    low_risk       1.00      0.94      0.97     17104

    accuracy                           0.94     17205
   macro avg       0.54      0.93      0.56     17205
weighted avg       0.99      0.94      0.97     17205

In [20]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred_eec))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    It has to be Easy Ensemble Classifier with 0.931601605553446.

2. Which model had the best recall score?

    Easy Ensemble Classifier.

3. Which model had the best geometric mean score?

    It has to be Easy Ensemble Classifier with 0.93.

4. What are the top three features?

    confusion matrix and the imbalanced classification report.